h1{
    text-align: center;
    }
    body{
      background-image: "http://a21.com.mx/sites/default/files/field/image/united%20MAX_0.jpg";
      background-color: rgb(148, 255, 214);  
    }
    form{
    
    text-align: center;
    height: 200px;
    
    }
    
    button{
    background-color:blue;
    width: 120px;
    height: 60px;
    color: rgba(255, 255, 255, 0.9);
      padding: 0.5em 1.2em;
      background: #318aac;
      border: 2px solid;
      border-color: #318aac;
      position: relative;
    
    
    }
    
    button:hover{
    
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 4px 16px rgb(218, 200, 129);
        transition: all 0.2s ease;
    }
    
    .for{
     height: 400px;
     width: 200px;
     background-color: lightblue;
     width:400px; 
     margin:0 auto;
    border: solid 5px rgb(196, 213, 218);
    color:rgb(75, 74, 69)
    }
